---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Get Involved">
  <section>
    <h1>Get Involved</h1>
    <p>Volunteer, coach, officiate, or host an event. Opportunities coming soon.</p>
  </section>
</Layout>

