---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="About Quadball Canada">
  <section>
    <h1>About Quadball Canada</h1>
    <p>Learn about our mission, values, and programs.</p>
  </section>
</Layout>

