---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Nous joindre" alternate={{ en: "/contact/", fr: "/fr/contact/" }} locale="fr">
  <section>
    <h1>Nous joindre</h1>
    <p>Communiquez avec nous pour les demandes mediatiques, les partenariats ou toute question generale.</p>
  </section>
</Layout>
