---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="How to Play">
  <section>
    <h1>How to Play Quadball</h1>
    <p>Rules overview and resources coming soon.</p>
  </section>
</Layout>

