---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Support Us">
  <section>
    <h1>Support Us</h1>
    <p>Learn about sponsorship opportunities and ways to donate.</p>
  </section>
</Layout>

